body{
  display: flex;
  justify-content: flex-start;
  background: #eee;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user_item{
  display: flex;
  justify-content: space-between;
}

.user_item.arrived{
  color: red;
  text-decoration: line-through;
}

.main{
  margin-left: 500px;
}
input{
  margin-bottom: 20px;
}